[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Toggl Klient
Comment=
Exec=toggl.kexe
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

